body {
    font-family: "Helvetica Neue LT", Arial, sans-serif;
    font-size: 1rem;
    width: 94%;
    line-height: 1.5;
}

.h3 {
    font-size: 1.1rem;
    font-weight: bold;
}
#notes {
    display: block;
    margin: .75rem;
    border-radius: .25rem;
}
section, nav, #editNote {
    display: block;
    margin-bottom: .75rem;
    padding: .75rem .75rem 0.5rem .75rem;
    border-radius: .25rem;
    width: 100%;
}

/* the top area is for navigation */
.navrow {
    line-height: 2.5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* use radio and checkboxes, but do not show the boxes etc */
nav input[type=radio],
nav input[type=checkbox] {
    visibility: hidden;
    position:absolute;
}

nav input[type=radio]:checked ~ label,
nav input[type=checkbox]:checked ~ label {
    border-color: black;
}

/* the list of notes */
#noteslist {
    padding: 0;
    margin: 0;
    list-style: none;
}

#noteslist li {
    position: relative;
    margin-bottom: .5rem;
    padding: .5rem .5rem 0 .5rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .25rem;
}

#noteslist li div {
    text-align: right;
}

#noteslist .row {
    display: flex;
    margin-bottom: 10px;
}

#noteslist .col1 {
    min-width: 10rem;
    padding-right: 1rem;
}
#noteslist .lbl {
    font-size: 0.8rem;
    width: 4rem;
}

#noteslist .title {
    padding-left: 5px;
    font-weight: bold;
    text-align: left;
    flex-grow: 1;
}

#noteslist .desc {
    min-width: 300px;
    flex-grow: 1;
    height: 6rem;
    border: dotted black 1px;
    padding: 3px 5px;
    white-space:pre-wrap;
    word-wrap:break-word;
}

#noteslist  .importance {
    font-weight: bold;
    font-size: 1.5rem;
    color: #ccc;
}
#noteslist .redalert { color:red }

/* editNote page */
#editNote {
    width: 96%;
    margin-bottom: 0.1rem
}
#editNote > form > div {
    display: flex;
    margin-bottom: 10px;
}
#editNote label {
    min-width:8rem;
}
#editNote input.err,
#editNote textarea.err {
    border-color: red;
}
#editNote span.err {
    color: red;
    display: none;
}
#editNote input[type=text],
#editNote textarea {
    min-width: 10rem;
    flex-grow: 1;
    padding: 0 5px;
}
#editNote input[type=number],
#editNote input[type=date]{
    padding: 0 5px;
}
