body {
    background-color: #e0e8ff;
}

section, nav {
    background-color: #acf;
    border: 2px solid #8af;
}

#noteslist li, #editNote {
    background-color: #efe;
}

#noteslist .desc,
#editNote input[type=text],
#editNote input[type=number],
#editNote input[type=date],
#editNote textarea{
    background-color: #ffe8e8;
}


nav label { border-bottom: 3px solid #8af }

nav label:hover,
button,
#selectstyle,
input#save,
input#cancel { background-color: #cdf}